<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} %-5level %-15thread %logger{48} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!--
     for testing, level="WARN" is reasonable
     For more log output, try "INFO", "DEBUG" or "TRACE" 
   -->
 
  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>