<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>skydropadmin</display-name>

	<context-param>
		<param-name>shiroEnvironmentClass</param-name>
		<param-value>org.ops4j.pax.shiro.cdi.web.CdiIniWebEnvironment</param-value>
	</context-param>

	<filter>
		<filter-name>ExcludingShiroFilter</filter-name>
		<filter-class>com.signiant.shiro.filters.ExcludingShiroFilter</filter-class>
		<init-param>
				<param-name>exclusionPattern</param-name>
				<param-value>/resources</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>ExcludingShiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>ServletAdaptor</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.disableMoxyJson</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.wadl.disableWadl</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.signiant.skydrop.jersey.SkydropResourceConfig</param-value>
		</init-param>
        <init-param>
            <param-name>jersey.config.beanValidation.enableOutputValidationErrorEntity.server</param-name>
            <param-value>true</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>HealthCheck</servlet-name>
		<servlet-class>com.signiant.skydrop.servlet.HealthCheckServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>com.signiant.skydrop.servlet.IndexServlet</servlet-class>
	</servlet>
	<servlet>
	        <servlet-name>ErrorServlet</servlet-name>
	        <servlet-class>com.signiant.skydrop.servlet.ErrorServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HealthCheck</servlet-name>
		<url-pattern>/HealthCheck</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletAdaptor</servlet-name>
		<url-pattern>/REST/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/Index</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
	        <servlet-name>ErrorServlet</servlet-name>
	        <url-pattern>/Error</url-pattern>
	</servlet-mapping>
		

	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>
	<listener>
		<listener-class>com.signiant.skydrop.listener.BeanManagerSetupContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.signiant.skydrop.listener.SLF4JBridgeHandlerListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.signiant.skydrop.listener.BootStrapContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	
	<resource-env-ref>
		<resource-env-ref-name>BeanManager</resource-env-ref-name>
		<resource-env-ref-type>javax.enterprise.inject.spi.BeanManager</resource-env-ref-type>
	</resource-env-ref>
		
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/Error</location>
	</error-page> 
	
	<jsp-config>
        <taglib>
            <taglib-uri>http://www.owasp.org/index.php/Category:OWASP_Enterprise_Security_API</taglib-uri>
            <taglib-location>/WEB-INF/classes/esapi.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>